.header-container {
  background-color: #b4d5f3;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-heading {
  font-family: monospace;
  color: #3c3434;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-link div {
  display: inline-block;
  margin-left: 35px;
}
.nav-link div a {
  font-weight: bold;
  font-size: 18px;
}
.header-sign-out-btn {
  font-weight: bold;
  font-size: 18px;
  color: #444242;
  margin-bottom: 7.3px;
  margin-left: 17px;
  border: none;
  background-color: #b4d5f3;
}
.header-img {
  width: 100%;
}

@media only screen and (max-width: 576px){
  .header-nav {
    display: flex;
    flex-direction: column;
  }
  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px){
  .header-nav {
    display: flex;
    flex-direction: column;
  }
}