.intro-detail {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 47%;
  padding-right: 30px;
}
.intro {
  display: flex;
  justify-content: space-between;
}
.intro-para {
  text-align: justify;
  line-height: 30px;
}

@media only screen and (max-width: 576px) {
  .intro {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px){
  .intro {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
  }
}